### Node ###
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Dependency directories
node_modules/
lib/
jspm_packages/
.npm/

#node-red
*.backup
.config.nodes.json
.config.users.json 
.config.runtime.json
.sessions.json

#specific
video/
*.env
